html,
body {
    font-family: 'Rubik', sans-serif;
}

#header {
    background: linear-gradient(0deg, rgb(204, 239, 251), rgb(96, 214, 253));
    height: 35vh;
}

h1 {
    color: black;
    font-weight: bolder;
}

span {
    font-size: larger;
}

#kompetenzen {
    background-color: rgb(237, 237, 237);
}

.carousel-item {
    height: 60vh;
}

.carousel-item img {
    height: 350px;
    width: 225px;
}

.carousel-indicators li {
    background-color: black;
}

.card {
    background-color: rgb(237, 237, 237);
    width: 300px;
    font-family: 'Indie Flower', cursive;
    font-size: larger;
    border: none;
}

.card-title {
    font-size: x-large;
    font-weight: bolder;
}

.card img {
    height: 450px;

}

#ausbildung {
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}

#ausbildung img {
    transform: scale(0.70);
}

#erstesProjekt {
    height: 200px;
    background-color: rgb(96, 214, 253);
}

#erstesProjekt h1:hover {
    color: red;
    font-size: 40pt;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.bigger:hover {
    font-size: larger;
    transform: scale(1.25);
}

#footer {
    height: 100px;
}

@media (max-width: 510px) {

    .nav-link,
    .navbar-brand,
    .bigger {
        font-size: 0.0rem;
    }

    h1 {
        font-size: 24pt;
    }

    #erstesProjekt h1:hover {
        color: red;
        font-size: 32pt;
    }

    .card{
        max-width: 100%;
    }

}
